<div class="small-12 medium-6 column left">
    <dl class="accordion" data-accordion>
        <dd>
            <a href=#p-<%= data.id %>>Nombre de los usuarios</a>

            <div class="content active" id=p-<%= data.id %>>
            <dl class="sub-nav">
                <dd><a href="#">Send a file</a></dd>
                <dd><a href="#" id=v-<%= data.id %>>Video</a></dd>
                <dd><a href="#">Audio</a></dd>
                <dd><a href="#" id=close-<%= data.id %>>Close</a></dd>
            </dl>
                <div class='small-12 medium-8 column left'>
                    <ul id=c-<%= data.id %> class='no-bullet scrollable'>
                        
                    </ul>
                </div>
                <div class='small-12 medium-4 column left'>
                    <div class="flex-video">
                        <div id='remote-<%= data.id %>'></div>
                    </div>
                </div>
                <div class='small-9 column'>
                    <textArea id=t-<%= data.id %>></textArea>
                </div>
                <div class='small-3 column'>
                    <button id=b-<%= data.id %>>Enviar</button>
                </div>
            </div>
        </dd>
    </dl>
</div>


